// Windows build resource file

aaaaaaaa ICON "icons/encrypted_password_database.ico"

encrypted_password_database ICON "icons/encrypted_password_database.ico"

doc     ICON "icons/doc.ico"

new BITMAP "bitmaps/new.bmp"
open BITMAP "bitmaps/open.bmp"
addrec BITMAP "bitmaps/addrec.bmp"
delrec BITMAP "bitmaps/delrec.bmp"
findrec BITMAP "bitmaps/findrec.bmp"
print BITMAP "bitmaps/print.bmp"
help BITMAP "bitmaps/help.bmp"

#include "wx/msw/wx.rc"
