#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Password Safe
GenericName=Encrypted Password Database
Comment=AES Encrypted Password Database
Exec=${HOME}/.encrypted_password_database/bin/encrypted_password_database
Icon=${HOME}/.local/share/icons/encrypted_password_database.png
StartupNotify=true
Terminal=false
Type=Application
GenericName[en_US]=Encrypted Password Database
Name[en_US]=Encrypted Password Database
